import numpy as np

## M12P9: sine waves ##

#Shared Details
num_pet = 12
occulter_is_finite = True
apod_dir = '/home/aharness/repos/diffraq/External_Data/Apodization_Profiles'

##########################################################################

##########################################################################

#Sine waves
xy0_inn = np.array([-0.0992, -9.3391]) * 1e-3
inn_sine = {'kind':'sines', 'is_kluge':True, 'amplitude':2e-6, 'xy0':xy0_inn, \
            'num_cycles':4, 'frequency':1379.938}

xy0_out = np.array([ 3.5509, 20.0539]) * 1e-3
out_sine = {'kind':'sines', 'is_kluge':True, 'amplitude':2e-6, 'xy0':xy0_out, \
            'num_cycles':5, 'frequency':2155.239}

perts = [inn_sine, out_sine]

##########################################################################

#Starshade
starshade = {'kind':'starshade', 'is_opaque':False, 'num_petals':num_pet,
    'edge_file':f'{apod_dir}/bb_2017.h5', 'has_center':False, 'etch_error':None,
    'perturbations':perts}

##########################################################################

#Build shape list
shapes = [starshade]
