import numpy as np
import imp

## M12P6: shifted petals ##

#Load base from bb_2017
occ_name = 'bb_2017_split'
occ_dir = '/home/aharness/repos/diffraq/External_Data/Occulter_Configurations'
mod = imp.load_source('mask', f'{occ_dir}/{occ_name}.cfg')

#Shift amounts and angles of shifted petals
petal_shifts = {2: 7.5e-6, 6: 7.5e-6, 10: 10.5e-6}

#Build perturbations
inn_perts = []
for pet_num, shift in petal_shifts.items():

    #Angles between petals
    angles = np.pi/num_pet * np.array([2*(pet_num-1), 2*pet_num])

    #Build shifted petal perturbation
    pert_n = {'kind':'shifted_petal', 'angles':angles, 'shift':shift, 'num_quad':50}

    #Append
    inn_perts.append(pert_n)

#Get starshades and struts from base occulter and add perturbations
inn_starshade = mod.inn_starshade
inn_starshade['perturbations'] = inn_perts

#Build modify struts with clipped minimum radius
struts = []
for i in range(num_pet):
    #Shift minimum radius outwards
    if i+1 in petal_shifts.keys():
        min_rad = strut_rmin + petal_shifts[i+1]
    else:
        min_rad = strut_rmin

    #Build new strut
    strut_n = {'kind':'petal', 'is_opaque':True, 'num_petals':1, \
        'edge_func':lambda t: (1-max_apod)/num_pet, 'has_center':False, \
        'min_radius':min_rad, 'max_radius':strut_rmax, 'radial_nodes':50, \
        'theta_nodes':50, 'rotation': 2*np.pi/num_pet*(i+0.5)}
    struts.append(strut_n)

#Build shape list
shapes = [inn_starshade, mod.out_starshade, *struts]
